<!DOCTYPE html>
<html>

  <body>
    <div id="blankstate" class="jumbotron jumbotron-fluid">
      <h2>Click on "Add a Player" to get started.</h2>
    </div>
    <div class="row">
      <% (1..7).each do |i| %>
        <div class="col player mx-2 bg-light" id="player-<%= i %>">
          <h3 id="player-<%= i %>-name">Player <%= i %></h3>
          <hr>
          <img id="player-<%= i %>-faction-image" class="faction-icon">
          <p id="player-<%= i %>-text"></p>
          <p id="player-<%= i %>-player-mat"></p>
          <div id="game-started-<%= i %>" class="game-started">
            <hr>
            <div class="row">
              <div class="col">
                <img src="<%= asset_path('icons/popularity.png') %>">
              </div>
              <div class="col">
                <input id="player-<%= i %>-pop" type="number" name="popularity" value= 0 class="score-input" min="0" max="18">
              </div>
              <div class="col">
                <p>VP</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img src="<%= asset_path('icons/stars.png') %>">
              </div>
              <div class="col">
                <input id="player-<%= i %>-stars" type="number" name="stars" value= 0 class="score-input" min="0" max="6">
              </div>
              <div class="col">
                <p id="player-<%= i %>-stars-score">0</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img src="<%= asset_path('icons/territory.png') %>">
              </div>
              <div class="col">
                <input id="player-<%= i %>-territory" type="number" name="territory" value= 0 class="score-input" min="0">
              </div>
              <div class="col">
                <p id="player-<%= i %>-territory-score">0</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img src="<%= asset_path('icons/resources.png') %>">
              </div>
              <div class="col">
                <input id="player-<%= i %>-resources" type="number" name="resources" value= 0 class="score-input" min="0">
              </div>
              <div class="col">
                <p id="player-<%= i %>-resources-score">0</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img src="<%= asset_path('icons/money.png') %>">
              </div>
              <div class="col">
                <input id="player-<%= i %>-money" type="number" name="money" value= 0 class="score-input" min="0">
              </div>
              <div class="col">
                <p id="player-<%= i %>-money-score">0</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img src="<%= asset_path('icons/structure_bonus.png')%>">
              </div>
              <div class="col">
                <input id="player-<%= i %>-strucBonus" type="number" name="strucBonus" value= 0 class="score-input" min="0">
              </div>
              <div class="col">
                <p id="player-<%= i %>-strucBonus-score">0</p>
              </div>
            </div>
            <hr>
            <h3>Total Score: <span id="player-<%= i %>-total-score">0</span></h3>
          </div>
        </div>
      <% end %>
    </div>
  
  </body>

</html>