<!DOCTYPE html>
<html>

  <body>
    <div class="row">
    <div class ="col player mx-2 bg-light" id="player-one">
      <h3>Player 1</h3>
      <hr>
      <p id="player-one-text"></p>
      <p id="player-one-player-mat"></p>
      <div id="game-started-1" class="game-started">
        <hr>
        <div class="row">
          <div class="col">
            <img src="<%= asset_path('icons/popularity.png') %>">
          </div>
          <div class="col">
            <input id="player-one-pop" type="number" name="popularity" value= 0 >
            <button id="player-one-pop-button" class="btn btn-primary">Submit</button>
          </div>
          <div class="col">
            <p>score</p>
          </div>
        </div>
        <div class="row">
          <p>Stars</p>
        </div>
        <div class="row">
          <p>Territory</p>
        </div>
        <div class="row">
          <p>Resources</p>
        </div>
        <div class="row">
          <p>Money</p>
        </div>
        <div class="row">
          <p>Structure Bonus</p>
        </div>
        <hr>
        <h3>Total Score</h3>
      </div>
    </div>
    <div class ="col player mx-2 bg-light" id="player-two">
      <h3>Player 2</h3>
      <hr>
      <p id="player-two-text"></p>
      <p id="player-two-player-mat"></p>
      <div id="game-started-2" class="game-started">
        <hr>
        <div class="row">
          <div class="col">
            <img src="<%= asset_path('icons/popularity.png') %>">
          </div>
          <div class="col">
            <input id="player-two-pop" type="number" name="popularity" value= 0 >
            <button id="player-two-pop-button" class="btn btn-primary">Submit</button>
          </div>
          <div class="col"></div>
        </div>
        <div class="row">
          <p>Stars</p>
        </div>
        <div class="row">
          <p>Territory</p>
        </div>
        <div class="row">
          <p>Resources</p>
        </div>
        <div class="row">
          <p>Money</p>
        </div>
        <div class="row">
          <p>Structure Bonus</p>
        </div>
        <hr>
        <h3>Total Score</h3>
      </div>
    </div>
    <div class ="col player mx-2 bg-light" id="player-three">
      <h3>Player 3</h3>
      <hr>
      <p id="player-three-text"></p>
      <p id="player-three-player-mat"></p>
      <div id="game-started-3" class="game-started">
        <hr>
        <div class="row">
          <img src="<%= asset_path('icons/popularity.png') %>">
        </div>
        <div class="row">
          <p>Stars</p>
        </div>
        <div class="row">
          <p>Territory</p>
        </div>
        <div class="row">
          <p>Resources</p>
        </div>
        <div class="row">
          <p>Money</p>
        </div>
        <div class="row">
          <p>Structure Bonus</p>
        </div>
        <hr>
        <h3>Total Score</h3>
      </div>
    </div>
    <div class ="col player mx-2 bg-light" id="player-four">
      <h3>Player 4</h3>
      <hr>
      <p id="player-four-text"></p>
      <p id="player-four-player-mat"></p>
      <div id="game-started-4" class="game-started">
        <hr>
        <div class="row">
          <img src="<%= asset_path('icons/popularity.png') %>">
        </div>
        <div class="row">
          <p>Stars</p>
        </div>
        <div class="row">
          <p>Territory</p>
        </div>
        <div class="row">
          <p>Resources</p>
        </div>
        <div class="row">
          <p>Money</p>
        </div>
        <div class="row">
          <p>Structure Bonus</p>
        </div>
        <hr>
        <h3>Total Score</h3>
      </div>
    </div>
    <div class ="col player mx-2 bg-light" id="player-five">
      <h3>Player 5</h3>
      <hr>
      <p id="player-five-text"></p>
      <p id="player-five-player-mat"></p>
      <div id="game-started-5" class="game-started">
        <hr>
        <div class="row">
          <img src="<%= asset_path('icons/popularity.png') %>">
        </div>
        <div class="row">
          <p>Stars</p>
        </div>
        <div class="row">
          <p>Territory</p>
        </div>
        <div class="row">
          <p>Resources</p>
        </div>
        <div class="row">
          <p>Money</p>
        </div>
        <div class="row">
          <p>Structure Bonus</p>
        </div>
        <hr>
        <h3>Total Score</h3>
      </div>
    </div>
    <div class ="col player mx-2 bg-light" id="player-six">
      <h3>Player 6</h3>
      <hr>
      <p id="player-six-text"></p>
      <p id="player-six-player-mat"></p>
      <div id="game-started-6" class="game-started">
        <hr>
        <div class="row">
          <img src="<%= asset_path('icons/popularity.png') %>">
        </div>
        <div class="row">
          <p>Stars</p>
        </div>
        <div class="row">
          <p>Territory</p>
        </div>
        <div class="row">
          <p>Resources</p>
        </div>
        <div class="row">
          <p>Money</p>
        </div>
        <div class="row">
          <p>Structure Bonus</p>
        </div>
        <hr>
        <h3>Total Score</h3>
      </div>
    </div>
    <div class ="col player mx-2 bg-light" id="player-seven">
      <h3>Player 7</h3>
      <hr>
      <p id="player-seven-text"></p>
      <p id="player-seven-player-mat"></p>
      <div id="game-started-7" class="game-started">
        <hr>
        <div class="row">
          <img src="<%= asset_path('icons/popularity.png') %>">
        </div>
        <div class="row">
          <p>Stars</p>
        </div>
        <div class="row">
          <p>Territory</p>
        </div>
        <div class="row">
          <p>Resources</p>
        </div>
        <div class="row">
          <p>Money</p>
        </div>
        <div class="row">
          <p>Structure Bonus</p>
        </div>
        <hr>
        <h3>Total Score</h3>
      </div>
    </div>
    </div>

  </body>

</html>